.footer {
    width: 100%;
    min-height: 200px;
    background-color: black;
    color: white;
}

.logo {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: auto;
    margin-bottom: auto;
}

.middle {
    vertical-align: middle;
    margin-left: 10px;
}

.facebook {
    background: url("../../images/facebook.png") no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: inherit;
    background-size: cover;
  }
  
  .instagram {
      background: url("../../images/instagram.png") no-repeat;
      width: 25px;
      height: 25px;
      display: inline-block;
      vertical-align: inherit;
      background-size: cover;
    }
  
    .twitter {
      background: url("../../images/twitter.png") no-repeat;
      width: 25px;
      height: 25px;
      display: inline-block;
      vertical-align: inherit;
      background-size: cover;
    }
  
    .linkedin {
      background: url("../../images/linkedin.png") no-repeat;
      width: 25px;
      height: 25px;
      display: inline-block;
      vertical-align: inherit;
      background-size: cover;
    }
  
    .youtube {
      background: url("../../images/youtube.png") no-repeat;
      width: 25px;
      height: 25px;
      display: inline-block;
      vertical-align: inherit;
      background-size: cover;
    }
  